@import "../../scss/variables";
.profile-tabs-wrapper {
  min-height: 100vh;
}
.profile-page-wrapper {
  min-height: 100vh;
  .dropdown-toggle::after {
    border-top: none !important;
  }
  .profile-page {
    padding: 1.3vw 4.5vw;
  }
  .regular-btn {
    background: #002147;
    box-shadow: 0px 2px 4px rgb(11 11 14 / 20%);
    border-radius: 12px;
    color: #fff;
    padding: 12px 32px;
    border: 0px;
  }
  img[alt="profile-img"] {
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
  .profile-info {
    padding-top: 23px;
    padding-bottom: 23px;
  }
  .check-courses-btn {
    box-shadow: none;
    background: #f5faff;
    width: 45% !important;
  }
  .profile-name {
    color: $btnColor;
  }
  .profile-courses-number {
    color: $btnColor;
  }
  .tab {
    border-bottom: 2px solid #f6f6f7;
    padding-bottom: 8px;
    color: #707089;
    font-size: 15px;
  }
  .tab-active {
    border-bottom: 2px solid $btnColor;
    color: $btnColor;
    font-weight: 600;
  }
  .course-results-wrapper,
  .sort-icon-wrapper {
    padding: 1.3vw 4.5vw;
  }
  .sort-arrows {
    display: flex;
    flex-direction: column;
  }
  .collection-bg-img img {
    width: 50%;
    height: 50%;
  }
}
.collection-add-modal {
  width: 40vw !important;
  border-radius: 13px;
  padding: 1.4rem;
  height: unset !important;
  .react-responsive-modal-closeButton {
    display: none;
  }
  .add-collection-btn {
    background: #002147;
    box-shadow: 0px 2px 4px rgba(11, 11, 14, 0.2);
    border-radius: 12px;
    padding: 9px 48px;
    color: #fff;
    outline: unset;
    border: unset;
    margin: 0 auto;
  }
}

@media screen and (max-width:786px) {
  .profile-page-wrapper {
    .tabs {
      margin-bottom: 20px !important;
    }
    img[alt="sort-up"], img[alt="sort-down"] {
    width: 15px !important;
    height: 15px !important;
  }
    .mobile-courses-heading {
      margin-bottom: 0px;
    }
  img[alt="profile-img"] {
    width: 50px !important;
    height: 50px !important;
  }
  .label-1 {
    font-size: 2.8vw;
}
.profile-name {
  margin-top: 13px;
  margin-bottom: 7px;
}
.mobile-email-wrapper {
  width: 50% !important;
  margin-top: 30px;
}
.course-results-wrapper {
  flex-direction: row;
}
.col-sm-4 {
  flex: 0 0 auto;
  width: 33.33333333%;
}
.col-sm-8 {
  flex: 0 0 auto;
  width: 66.66666667%;
}
.col-sm-6 {
  flex: 0 0 auto;
  width: 50%;
}
.col-sm-2 {
  flex: 0 0 auto;
  width: 16.66666667% !important;
}
.search-result-date {
    display: none;
}
.check-courses-btn-progress {
  display: none;
}
.course-title-mobile {
  margin-bottom: 0px;
}
.col-sm-6.text-center-mobile {
  width: 100% !important;
  flex: unset !important;
  text-align: center;
}
.heading-4 {
  font-size: 4.111vw;
}
.body-1 {
  font-size: 2.6vw !important;
}
.course-results-wrapper {
  margin-bottom: 0px !important;
  .col-sm-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-sm-9 {
    flex: 0 0 auto;
    width: 75% !important;
}

}
.course-results-wrapper > div:first-child {
  margin-bottom: 10px;
}
}
.collection-add-modal {
  width: 90% !important;
  .collection-add-modal-input {
    height: 7.5vw;
    margin-top: 20px;
    &::placeholder {
      font-size: 2.8vw;
    }
  }
}
}
