.courses_home_lecturer_section {
  padding: 1.3vw 4.5vw;
  .title {
    border-right: 1px solid #babac5;
  }
  .title-transition {
    animation: 3s animatedTitle;
  }
  @keyframes animatedTitle {
    from {
      transform: translateY(-165px);
    }
    to {
      transform: translateY(0);
    }
  }
  .body-transition {
    animation: 3s animatedBody;
  }
  @keyframes animatedBody {
    from {
      transform: translatey(410px);
    }
    to {
      transform: translateY(0);
    }
  }
  .our {
    font-family: "Gilory";
    font-style: normal;
    font-weight: 800;
    font-size: 25px;
    line-height: 45px;
    color: #8bcf5f;
  }
  .lecturer {
    font-family: "Gilory";
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 45px;
    color: #002147;
  }
  .title-wrapper {
    margin-bottom: 30px;
  }
  .lecturers-wrapper {
    .lecturer {
      flex: 1;
    }
    .name {
      font-family: "Gilory";
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 36px;
      color: #000e1f;
      margin-bottom: 0px;
    }
    .job {
      font-family: "Inter";
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 15px;
      color: #535364;
    }
    img[alt="lecturer-Img"] {
      margin-bottom: 10px;
      width: 100%;
    }
  }
}

@media only screen and (max-width: 786px) {
  .courses_home_lecturer_section {
    .lecturers-wrapper {
      overflow-x: auto;
    }
  }
  .lecturers-wrapper {
   
    .name {
      font-size: 14px !important;
      line-height: 20px !important;
    }
  }
}

@media only screen and (max-width: 786px) {
  .courses_home_lecturer_section {
    .title-wrapper {
      flex-wrap: wrap;
    }
    .title {
      border: none;
    }
  }
}
