@import "../../scss/variables";

.footer-container {
  background: $btnColor;
  color: $whiteText;
  padding: 2vw 4.5vw;
  position: inherit;
  bottom: 0;
  width: 100%;
  img[alt="logo-name-container"] {
    width: 150px;
  }
  .most-visited {
    font-family: "Gilory";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 36px;
    color: #8bcf5f;
  }
  ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    padding: 0px;
    li {
      font-family: "Inter";
      font-style: normal;
      font-weight: 400;
      font-size: 13px;
      line-height: 20px;
      color: #f5faff;
      margin-bottom: 5px;
    }
  }
  img[alt="socialMediaIcon"] {
    width: 40px;
    height: 40px;
    border-radius: 8px;
  }
}

@media only screen and (max-width: 768px) {
  .footer-container {
    > div {
      flex-wrap: wrap;
    }
    .footer-last-sec {
      margin-top: 20px;
    }
  }
}
