@import "../../scss/variables";

.footer-container-wrapper {
  background: #0C4083;
  color: $whiteText;
  padding: 3vw 4.5vw;
  position: inherit;
  bottom: 0;
  width: 100%;

  img[alt="logo-name-container"] {
    width: 150px;
  }
  .footer-ul-title {
    font-family: "Gilory";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
  }
  
  ul:not(.dropdown-menu) {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    padding: 0px;

    li {
      font-family: "Gilory";
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 21px;
      color: #f5faff;
      margin-bottom: 5px;
    }
  }
  img[alt="socialMediaIcon"] {
    width: 30px;
    height: 30px;
    border-radius: 8px;
  }

  .inline-list {
    flex: 2;
    align-items: center;
    margin-bottom: 0;

    li{
      font-family: 'Gilroy';
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 21px;
    }
  }

  .lang-dropdown {
    border-radius: 12px;
    background-color: transparent;
    color: #fff;
    padding: 10px 16px;
    border: 2px solid #fff;
  }

  .social-media-wrapper{
    align-self: center;
    margin-left: 160px;
    margin-right: 50px;
  }
}

@media only screen and (max-width: 768px) {
  .footer-container-wrapper {
    > div {
      flex-wrap: wrap;
    }
    .footer-last-sec {
      margin-top: 20px;
    }
  }
}
