.about_us_home_section {
  padding: 1.3vw 4.5vw;
  margin-top: 20px;
  .title {
    font-family: "Gilory";
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 64px;
    color: #002147;
    text-transform: capitalize;
  }
  .content-wrapper {
    margin-bottom: 30px;
  }
  .map-wrapper {
    background-image: url("../../../assets/imgs/worldMap.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 380px;
  }
  .content-single-wrapper,
  .content-single-wrapper-last-child {
    border-width: 2px 0px 0px 0px;
    border-style: solid;
    border-color: #d8d8de;
    padding-block: 10px;
  }
  .content-single-wrapper-last-child {
    border-width: 2px 0px;
  }
  .inner-title {
    font-family: "Gilory";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 36px;
    color: #0b0b0e;
  }
}
@media only screen and (max-width: 786px) {
  .about_us_home_section {
    .content-wrapper {
      margin-bottom: 55px;
    }
    .map-wrapper {
      display: none;
    }
  }
}
