@import "../../scss/mixins";
@import "../../scss/variables";

.edit-profile-wrapper {
  padding: 1.3vw 4.5vw;
  background: #f6f6f7;
  height: 100vh;
  .edit-profile-fields-wrapper {
    background: #ffffff;
    border-radius: 16px;
    padding: 20px;
  }
  img[alt="password-icon"] {
    @include inputIcon(28px, 11px);
  }
  img[alt="password-repeat-icon"] {
    @include inputIcon(28px, 11px);
  }
  .check-courses-btn {
    @include btnStyle(
        #EFEFEF,
        12px,
        #02428d,
        0.782vw 2.346vw,
        "Inter-SemiBold",
        1.173vw,
        0vw 0.156vw 0.313vw rgba(11, 11, 14, 0.2)
      );
  }
  .buy-courses-btn {
    border: none;
    @include btnStyle(
      $btnColor,
      12px,
      $whiteText,
      0.782vw 2.346vw,
      "Inter-SemiBold",
      1.173vw,
      0vw 0.156vw 0.313vw rgba(11, 11, 14, 0.2)
    );
  }
  .edit-profile-btns {
    width: unset;
  }
}

@media screen and (max-width:786px) {
  .edit-profile-wrapper {
    .label-1 {
      font-size: 3.016vw;
      margin-bottom: 8px !important;
    }

    .intl-tel-input,
    input {
      height: 7.5vw !important;
      font-size: 3vw;
      &::placeholder {
        font-size: 2.5vw;
        padding: 0vw 1.5vw !important;
      }
    }
    .intl-tel-input {
      padding: 0vw 12.5vw !important;
      font-size: 2.5vw !important;
    }
    .heading {
      font-size: 4vw;
      margin-top: 10px;
    }
    img[alt=password-icon] ,  img[alt=password-repeat-icon] {
      bottom: 24px !important;
    }
    .buy-courses-btn , .check-courses-btn {
      padding: 2.782vw 4.346vw !important;
    }
    .check-courses-btn {
      width: unset;
      margin-inline: 0px !important;
    }
    
  }
  
}
