.checkbox-title {
  font-family: "Inter";
  color: #34343d;
  font-size: 14px;
}
.hr {
  height: 1px;
  margin-top: 15px;
  margin-bottom: 15px;
  border: 0.7px solid #d8d8de;
}
.filters-container {
  padding-top: 70px;
}
