@import "../../scss/variables";
@import "../../scss/mixins";

.intl-tel-input {
  border: 0.117vw solid $borderColor !important;
  border-radius: 8px !important;
  height: 3.049vw !important;
  width: 100% !important;
  font-size: 1.251vw !important;
  padding: 0vw 4vw !important;

}
.react-tel-input .flag-dropdown{
  border-radius: 8px 0 0 8px;
}
div[dir="rtl"] {
  .react-tel-input {
    .selected-flag {
      padding: 0px 12px 0 0px;
    }
  }
  .arrow {
    left: 8.5px !important;
  }
}
