.first-home-slide {
  background-image: url("../../../assets/imgs/home1.png"),
    linear-gradient(180deg, #d45c5c -8.75%, #394655 96.27%);
  .elfanni-heading {
    color: #fef0f0;
  }
  .header-check-courses-btn {
    background: #f9adad;
    color: #2c0f0f;
  }
  .header-container {
    background-color: rgba(116, 9, 9, 0.27) !important;
  }
}
.second-home-slide {
  background-image: url("../../../assets/imgs/home2.png"),
    linear-gradient(180deg, #d87e46 20%, #2c3d50 107.34%);
  .elfanni-heading {
    color: #fef6f0;
  }
  .header-check-courses-btn {
    background: #fbdec9;
    color: #422713;
  }
  .header-container {
    background-color: rgba(99, 15, 15, 0.15) !important;
  }
}

.third-home-slide {
  background-image: url("../../../assets/imgs/home3.png"),
    linear-gradient(180deg, rgba(139, 139, 83, 0.7) 20%, #1c3857 177.34%);
  .elfanni-heading {
    color: #f8f8e0;
  }
  .header-check-courses-btn {
    background: #f8f8e0;
    color: #343406;
  }
  .header-container {
    background-color: rgba(97, 97, 5, 0.15) !important;
  }
}
.fourth-home-slide {
  background-image: url("../../../assets/imgs/home4.png"),
    linear-gradient(180deg, rgba(102, 207, 113, 0.5) 20%, #3b4857 177.34%);
  .elfanni-heading {
    color: #f1fcf2;
  }
  .header-check-courses-btn {
    background: #d9f7dc;

    color: #06510c;
  }
  .header-container {
    background: rgba(5, 63, 10, 0.2) !important;
  }
}

.fifth-home-slide {
  background-image: url("../../../assets/imgs/home5.png"),
    linear-gradient(180deg, rgba(76, 183, 216, 0.5) 20.3%, #293a4e 177.34%);
  .elfanni-heading {
    color: #edfafc;
  }
  .header-check-courses-btn {
    background: #d5f4f9;
    color: #064551;
  }
  .header-container {
    background-color: rgba(9, 119, 133, 0.4) !important;
  }
}

@media only screen and (max-width: 768px) {
  .elfanni-heading {
    margin-top: 45px !important;
    font-size: 35px !important;
    line-height: 45px !important;
  }
  .home-main-content {
    align-items: center;
  }
}
