@import "../../scss/mixins";
@import "../../scss/variables";

.sign-up-form {
  img[alt="password-icon"] {
    @include inputIcon(28px, 11px);
  }
  img[alt="password-repeat-icon"] {
    @include inputIcon(28px, 11px);
  }
  .regular-btn {
    @include btnStyle(
      $btnColor,
      12px,
      $whiteText,
      0.782vw 2.346vw,
      "Gilory-Semi-Bold",
      1.173vw,
      0vw 0.156vw 0.313vw rgba(11, 11, 14, 0.2)
    );
  }
  .kep-login-facebook.metro,
  .social-media-btn {
    @include btnStyle(
      $socialMediaBtnsBackground,
      12px,
      $btnColor,
      1.095vw 1.72vw,
      "Gilory-Semi-Bold",
      1.173vw,
      none
    );
    align-items: center;
    cursor: pointer;
  }
  .kep-login-facebook.metro {
    text-transform: capitalize;
    border: none;
    display: flex;
    width: 100%;
    justify-content: center;
  }
  .sign-up-options-or {
    color: $greyColor;
  }
  .sign-up-btn {
    color: $btnColor;
    cursor: pointer;
    border-bottom: 1px solid $btnColor;
  }
}

@media only screen and (min-width: 480px) {
  .mobile-logo {
    display: none !important;
  }
}
div[dir="rtl"] {
  .sign-up-form {
    .btn-component-wrapper {
      flex-direction: row;
    }
    img[alt="btn-icon"] {
      margin-bottom: 0px !important;
    }
  }
}
