@font-face {
  font-family: "Gilory";
  src: url("../assets/fonts/Gilory/Gilroy-Light.otf");
}

@font-face {
  font-family: "Gilory-Bold";
  src: url("../assets/fonts/Gilory/Gilroy-ExtraBold.otf");
}

@font-face {
  font-family: "Gilory-Semi-Bold";
  src: url("../assets/fonts/Gilory/Gilroy-Semibold.ttf");
}

@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/Inter/Inter-Regular.ttf");
}

@font-face {
  font-family: "Inter-SemiBold";
  src: url("../assets/fonts/Inter/Inter-SemiBold.ttf");
}

@font-face {
  font-family: "Almarai";
  src: url("../assets/fonts/Almarai/Almarai-Regular.ttf");
}
