// background colors

//colors
$whiteText: #ffffff;
$subHeading: #707089;
$greyColor: #535364;
$footerSignupColor: #0B0B0E;
$borderColor: #D8D8DE;
$placeholderColor : #A1A1B0;
$btnColor : #002147;
$socialMediaBtnsBackground : #F5FAFF;


