// background colors

//colors
$whiteText: #ffffff;
$subHeading: #707089;
$greyColor: #535364;
$footerSignupColor: #0b0b0e;
$borderColor: #d8d8de;
$placeholderColor: #a1a1b0;
$btnColor: #002147;
$socialMediaBtnsBackground: #f5faff;
