.statistics_home_section {
  padding: 2.5vw 4.5vw;
  // background-image: linear-gradient(122.31deg, #0a4b96 0%, #05e3f1 94.7%);
  background: linear-gradient(124.57deg, #1F0A96 0%, #0573F1 100%);
  color: #ffffff;
  .section-upper {
    margin-bottom: 60px;
  }
}

@media only screen and (max-width: 786px) {
  .statistics_home_section {
    .section-upper,
    .section-lower {
      display: block !important;
      margin-bottom: 0px;
      .col-sm-4 {
        width: 50%;
        margin: 0 auto;
        margin-bottom: 20px;
      }
    }
  }
}
